
Homework/.ipynb_checkpoints/Day_02_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_03_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_04_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_05_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_06_HW-checkpoint.ipynb
Homework/multi_array.npz
Homework/multi_array_new.npz
Homework/.ipynb_checkpoints/Day_07_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_08_HW-checkpoint.ipynb
Homework/boston.csv
Homework/.ipynb_checkpoints/Day_09_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_10_HW-checkpoint.ipynb
Homework/STOCK_DAY_0050_202009.csv
Homework/STOCK_DAY_0050_202010.csv
Homework/.ipynb_checkpoints/Day_11_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_12_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_13_HW-checkpoint.ipynb
Homework/.ipynb_checkpoints/Day_14_HW-checkpoint.ipynb
